main a {
    color: var(--primary-link);
}

main a:not(.icons){
    font-size: 1.5rem;
}

#article-1 {
    color: white;
    font-weight: 600;
}

#article-1 h1 {
    font-size: 4rem;
}

#about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    width: 80vw;
    border: solid 2px var(--primary-color);
    padding: 10px;
    border-radius: 25px;
    height: 42vh;
    text-align: center;
    background-color: var(--primary-background);
}

#about-container h1 {
    font-family: "Teko", Arial, Helvetica, sans-serif;
    font-weight: 800;
    width: 60vw;
    margin-top: 18px;
}

#about-container p {
    font-size: 20px;
    margin: 18px 0;
}

#about-contact {
    text-align: center;
    font-family: "Teko", Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 18px;
    font-weight: 800;
}

aside {
    width: 80vw;
    margin: auto;
    margin-bottom: 18px;
}

/* Start responsive design - Services - Tablet */
@media screen and (min-width: 768px) {
    #about-container {
        padding: 10px;
        height: 40vh;
    }

    #about-container h1 {
        font-size: 2rem;
    }

    #about-container p, aside p {
        font-size: 1.5rem;
    }

}