#article-1 h1 {
    font-size: 4rem;
}

#contact-form form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 85vw;
    background-color: var(--primary-background);
    padding: 20px;
    margin: auto;
    border-radius: 25px;
}

#contact-form h3 {
    text-align: center;
    margin-bottom: 5px;
}

#hear-about-me {
    width: 40vw;
}

#fname, #lname {
    width: 50vw;
}

#more-contact {
    background-color: var(--primary-background);
    max-width: 60vw;
    margin: auto;
    padding: 10px 10px 20px 10px;
    border-radius: 25px;
    margin-top: 10px;
}

#more-contact h3{
    padding: 5px;
    margin: 5px;
}

#social-links-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-brands, .social-text{
    width: 15vw;
}

.social-text {
    color: var(--primary-link);
    font-weight: 700;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}



