#article-1 h1 {
    font-size: 4rem;
}

/* Start of contact form */
#contact-form form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 85vw;
    background-color: var(--primary-color);
    padding: 20px;
    margin: auto;
    border-radius: 25px;
    color: var(--primary-text);
}

.form-element {
    display: flex; 
    flex-direction: column;
    gap: 4px;
}
#contact-form input, #contact-form textarea {
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
}
#contact-form h3 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 28px;
    font-family: "Teko", Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

#hear-about-me {
    width: 50vw;
}

#fname, #lname {
    width: 50vw;
}

#message, #subject {
    width: 90%;
}

#message {
    resize: vertical;
    min-height: 5vh;
}

#submit-button {
    background-color: var(--primary-link);
    color: var(--primary-text);
    border-radius: 10px;
    padding: 5px;
    border: 1px solid white;
    margin-top: 5px;
    font-weight: 600;
    font-size: 1.1rem;
}

#submit-button:hover{
    cursor: pointer;
    background-image:linear-gradient(135deg, #f96dac 40%, #f3a17e);
}

.form-element input:focus, .form-element textarea:focus {
    box-shadow: 0px 0px 2px 2px rgba(247,37,133,0.58) inset;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(247,37,133,0.58) inset;
    -moz-box-shadow: 0px 0px 2px 2px rgba(247,37,133,0.58) inset;
    transform: scale(1.03);
    
}

#hear-about-me{
    min-height: 40px;
    line-height: 40px;
}

/* Start of more ways to contact me */
#more-contact {
    background-color: var(--primary-background);
    max-width: 60vw;
    margin: auto;
    padding: 10px 10px 20px 10px;
    border-radius: 25px;
    margin-top: 10px;
}

#more-contact h3{
    text-align: center;
    font-family: "Teko", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
}

#social-links-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#social-links-container a {
    text-decoration: none;
    color: var(--primary-link);
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-brands, .social-text{
    width: 15vw;
}

.social-text {
    font-weight: 700;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.fa-3x {
    animation: 1.3s infinite;
    display:inline-block;
}


.fa-3x:hover {
    animation-name: slideleft;
    animation-timing-function: ease;
}

@keyframes slideleft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform:translateX(-20px);
    }
    100% {
        transform:translateX(0);
    }
}

.social-text {
    animation: 1.3s infinite;
    display:inline-block;
}


.social-text:hover {
    animation-name: slideright;
    animation-timing-function: ease;
}

@keyframes slideright {
    0% {
        transform: translateX(0);
    }
    50% {
        transform:translateX(20px);
    }
    100% {
        transform:translateX(0);
    }
}
/* Start of responsive design - Tablet */

@media screen and (min-width: 768px) {
    
    .title h1{
        font-size: 2rem;
    }

    #contact-form form {
        max-width: 70vw;
    }

    #more-contact {
        max-width: 50vw;
    }

    .social-links > .fa-brands {
        margin-left: 140px;
    }
    
    .social-text {
        margin-right: 130px;
        text-align: center;
    }


}


/* Start of responsive design - Desktop */

@media screen and (min-width: 1025px) {

    .title h1{
        font-size: 3rem;
    }

    #desktop-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    #more-contact {
        max-width: 20vw;;
    }

    #more-contact h3{
        font-family: "Teko", Arial, Helvetica, sans-serif;
        text-align: center;
    }


    .social-links {
        display: flex;
    }

    .social-links > .fa-brands {
    margin-left: 80px;
    }

    .social-text {
        margin-right: 70px;
        text-align: center;
    }

    #contact-form form {
        width: 50vw
    }

    #message, #subject, #hear-about-me {
        width: 90%;
    }

    #fname, #lname {
        width: 50%;
    }

    #hear-about-me {
        /* width: 25vw; */
        padding: 5px;
    }


    .form-element input:focus, .form-element textarea:focus {
        margin: 0 8px;
    }

}